body {
    background-color: #333;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.contenedor {
    text-align: center;
}

h1 span:nth-child(1) {
    color: #ff6666;
}

h1 span:nth-child(2) {
    color: #FFF;
}

h1 span:nth-child(3) {
    color: #00BFFF;
}

.tablero {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    margin: 20px auto;
}

.celda {
    align-items: center;
    border: 2px solid #fff;
    cursor: pointer;
    display: flex;
    font-size: 2em;
    height: 100px;
    justify-content: center;
    width: 100px;
}

.celda.X {
    color: rgb(255, 100, 100);
    font-size: 50px;
}

.celda.O {
    color: rgb(0, 190, 255);
    font-size: 50px;
}

button {
    background-color: rgb(0, 190, 255);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5);
    color: #000;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    padding: 8px 20px;
}

.contenedor-estado {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #000;
    margin: 10px auto;
    opacity: 0;
    padding: 10px 20px;
    position: relative;
    transition: opacity 0.3s ease-in-out;
    width: max-content;
    z-index: 100;
}

.contenedor-estado.mostrar {
    opacity: 1;
}

.estado {
    font-size: 16px;
    font-weight: 600;
}

.estado-progreso {
    border-radius: 5px 5px;
    bottom: 0;
    height: 5px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left bottom;
    width: 100%;
}

.contenedor-estado.mostrar .estado-progreso {
    animation: progreso 2.5s linear forwards;
}

@keyframes progreso {
    to {
        transform: scaleX(1);
    }
}

@media screen and (max-width: 500px) {
    .contenedor {
        margin-top: 110px;
    }
}